* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url(../img/galaxy.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(48, 25, 52);
}

.Menu {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: white;
    gap: 2rem;
    padding: 1rem;
}

.Menu a {
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: white;
}

.Menu button {
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    border-radius: 5%;
    font-size: 25px;
    color: rgb(212, 147, 238);
    background-color: rgba(48, 25, 52, 0.85);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Menu button:hover {
    background-color: rgb(212, 147, 238);
    color: rgb(177, 10, 177);
    transform: scale(1.1);
}
.left {
    border-radius: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 7%;
}


.left h1 {
    padding: 0 2% 1%;
    font-size: 9rem;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    margin: 0;
}

.content{
    display: flex;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #670496, 0 0 40px #670496, 0 0 50px #670496, 0 0 60px #670496, 0 0 70px #670496;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #8c07ca, 0 0 40px #8c07ca, 0 0 50px #8c07ca, 0 0 60px #8c07ca, 0 0 70px #8c07ca, 0 0 80px #8c07ca;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #670496, 0 0 40px #670496, 0 0 50px #670496, 0 0 60px #670496, 0 0 70px #670496;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #8c07ca, 0 0 40px #8c07ca, 0 0 50px #8c07ca, 0 0 60px #8c07ca, 0 0 70px #8c07ca, 0 0 80px #8c07ca;
    }
}


.choices{
    margin-left:2rem;
}


.choices button {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight:100px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffffd0;
    text-shadow: none;
    background:  rgba(176, 70, 247, 0.612);
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #f0e7e7da;
    transition: 0.5s ease;
    user-select: none;
  }
  #fb:hover,
  :focus {
    color: #ffffff;
    background: #8807f1;
    border: 1px solid #2a0146;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #a418f5, 0 0 20px #a418f5, 0 0 50px #a418f5,
      0 0 100px #a418f5;
  }

  #sb:hover,
  :focus {
    color: #ffffff;
    background: #8807f1;
    border: 1px solid #2a0146;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #a418f5, 0 0 20px #a418f5, 0 0 50px #a418f5,
      0 0 100px #a418f5;
  }


.Footer{
    display: flex;
    justify-content: center;
    color: white;
}

.content{
    margin: 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

