* {
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url(../img/Hennessey.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.Menu {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: white;
    gap: 2rem;
    padding: 1rem;
}


.Menu a:hover {
    color: #e42f2f;
    transform: scale(1.1);
}

.Menu button {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    border-radius: 5%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(3, 37, 82, 0.612);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Menu button:hover {
    background-color: rgba(28, 97, 189, 0.87);
    color: rgba(12, 13, 70, 0.925);
    transform: scale(1.1);
}

.content{
display: flex;
align-items: center;
flex-direction: column;
}

.content h1{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
font-family: "Urbanist", sans-serif;
font-optical-sizing: auto;
font-weight:100;
font-style:normal;
color: white;
font-size: 4rem;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #060496, 0 0 40px #060496, 0 0 50px #060496, 0 0 60px #060496, 0 0 70px #060496;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #435cec, 0 0 40px #435cec, 0 0 50px #435cec, 0 0 60px #435cec, 0 0 70px #435cec, 0 0 80px #435cec;
    }
}


.content p{
font-family: "Urbanist", sans-serif;
font-optical-sizing: auto;
font-weight:100px;
font-style:normal;
color:white;
font-size: 1rem;
}


.CC{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2%;
}

.choices{
display: flex;
justify-content: center;
align-items: end;
gap: 3rem;

}


.choices button {
     
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight:100px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffffd0;
    text-shadow: none;
    background:  rgba(3, 37, 82, 0.612);
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #f0e7e7da;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #fb:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  #sb:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }